* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: inherit;
}

.padding {
    padding: 40px 120px;
}
.margin {
    margin: 40px 0;
}
body{
    background-color: whitesmoke;
    color: black;
}

.club-logo{
    width: 40px;
    border-radius: 10px;
}
/* navigation styles */
header a {
    text-decoration: none;
}
header {
    padding: 0px 20px;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 1;
    justify-content: space-between;
}
#brand{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#brand a{
    color: green;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul a{
    color: white;
    margin-left: 10px;
}
ul li {
    padding: 5px;
    margin-left: 10px;
}
  
ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
/* #subscribe{
  border-radius: 5px;
  padding: 5px 8px;
}

#subscribe {
  border: 1px solid #498afb;
}

#subscribe a {
  color: #edcdcd;
} */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8px;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.4);
    height: 400px
}
  
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
}

.mobile-menu li {
    margin-bottom: 10px;
    margin-right: 20px;
}
  

@media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
}

/* banner section */
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("assets/inno4.jpg");
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.description{
    position: absolute;
    color: whitesmoke;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px
}
.description h2 {
    margin-bottom: 8px;
    font-size: 40px;
}
.description p{
    margin-bottom: 10px;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 100;
    
}
.description span{
    color: red;
}
.description a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 8px 10px;
    color: rgb(219, 219, 219);
    background-color: #724040;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}
.description a:hover{
    color: black;
    cursor: pointer;
    background-color: whitesmoke;
}

/* about us styles */
#about {
    display: flex;
    flex-direction: column;
}
#about h4{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #556270;  
} 

#about a{
    text-decoration: none;
    width: 90px;
    margin: 100px, 0;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 4px;
    color: rgb(219, 219, 219);
    background-color: #556270;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

.activities {
    display: flex;
    justify-content: space-between;
}

#about .card{
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 214, 214);
    cursor: pointer;
    box-shadow: rgb(228, 181, 181);
    padding: 8px;
    border-radius: 4px;
    margin: 10px 0;
}

#about .card img{
    width: 100%;
}
#about .card span img{
    width: 11px;
}

#about .card h2{
    font-family: "Poppins", sans-serif;
    color: #556270;
    margin: 10px 0;
}

#about .card span{
    color: #606063;
    font-size: 14px;
    margin-bottom: 2px;
}

#about .card .details p{
    margin-top: 10px;
    color: #606063;
    font-size: 16px;
}


/* footer styles */
.social-media-icons{
    height: 20px;
}

footer {
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .follow{
    display: flex;
    flex-direction: row;
}

footer .col .follow a {
    margin-right: 10px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 14px;
    /* font-weight: 600; */
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
    color: #465b52;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* media queries */
@media screen and (max-width: 480px){
    .padding {
        padding: 10px 14px;
    }
    .banner {
        height: 80vh;
    }
    /* .description {
        width: 80%;
        margin-top: 250px;
        margin-left: 20px;
    }
    .description p {
        width: 80%;
        margin-bottom: 10px;
    } */
    .description {
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .description p {
        margin-bottom: 10px;
        font-size: 18px;
        color: whitesmoke;
        font-weight: 100;
    }

    .activities {
        flex-direction: column;
        width: 100%;
    }
    #about .card {
        width: 100%;
        margin: 10px 0;
    }
    #about h4 {
        margin-bottom: 30px;
        margin-top: 15px;
        font-size: 26px;
    }
}
